@import "apadana";
@import "seo";
@import "ads";
@import "sky";
@import "samples";
@import "develop";
.content {
    top: 10%;
    z-index: 1;
    width: 60%;
}

@media (max-width : 1024px){
    .content {
        width: 90%;
        right: 10%;
    }
    .earth {
        display: none;
    }
}