$countOfStars: 200;
.sky {
  height: 150px;
  width: 100%;

  border-radius: 5px 5px 0 0;
  background-color: $skyColor;
  position: relative;
  .particles {
    position: absolute;
    width: 100%;
    height: 150px;
    opacity: 1;
  }
  .particles-second {
    position: absolute;
    width: 100%;
    height: 150px;
    opacity: 0.3;
  }
  h1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

}

@media (max-width : 500px){
  .sky {
    display: none;
  }
}