
a {
  color: #0078ff;
}
#earth {
  position: absolute;
  touch-action: manipulation;
  max-width: 80%;
  max-height: 80%;
  top: 10%;
  right: -40%;
}

$transitionDuration: 0.3s;
$seoColor: rgb(17, 187, 244);
$samplesColor: rgba(228, 0, 124, 1);
.dots {
  .active {
    .background {
      width: 100%;
    }
    span {
      color: white;
    }
    .line {
      width: 30px;
    }
  }

  .line {
    position: absolute;
    height: 1px;
    width: 0;
    right: 0;
    background: #b4b4b4;
    transition-property: width background;
    transition-duration: $transitionDuration;
  }
  span {
    position: relative;
    // width: 120px;
    right: 30px;
    height: 40px;
    transition: color $transitionDuration ($transitionDuration / 1.5);
    line-height: 40px;
    font-size: 1.1rem;
    color: #7d7d7d;
    padding: 0 10px;
  }
  i {
    right: 0;
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    z-index: 1;
    background-color: #7d7d7d;
    transition: background-color $transitionDuration ($transitionDuration / 1.5);
  }
  .background {
    position: absolute;
    width: 0;
    right: 30px;
    height: 40px;
    transition: width $transitionDuration ($transitionDuration / 1.5);
    border-radius: 20px 5px 5px 20px;
  }
  > div {
    position: absolute;
    cursor: pointer;
    &:hover > div {
      width: 200px;
    }
    &:hover > span {
      color: white;
    }
    &:hover > .line {
      width: 30px;
    }
    &:hover > .background {
      width: 100%;
    }
  }
  > div {
    z-index: 1;
  }
  .dot-1 {
    right: 9.5vmax;
    // right: calc(100vh * 0.094);
    top: 28%;
    .background {
      background-image: linear-gradient(
        117.8deg,
        rgba(240, 19, 77, 1) 22.2%,
        rgba(228, 0, 124, 1) 88.7%
      );
    }
  }
  .dot-2 {
    right: 17.3%;
    top: 38%;
    .background {
      background-color: gold;
    }
  }
  .dot-3 {
    right: 18.5%;
    top: 50%;
    .background {
      background-image: linear-gradient(
        89.9deg,
        rgb(251, 173, 71) 0.6%,
        rgba(251, 112, 71, 1) 124.3%
      );
    }
  }
  .dot-4 {
    right: 16.5%;
    top: 62%;
    .background {
      background-image: linear-gradient(117.8deg, #0f9d58 22.2%, #4285f4 88.7%);
    }
  }
  .dot-5 {
    z-index: 1;
    right: 11%;
    top: 72%;
    .background {
      background-image: linear-gradient(
        117.8deg,
        rgba(240, 19, 77, 1) 22.2%,
        rgba(228, 0, 124, 1) 88.7%
      );
    }
  }
}

@media (max-width : 1024px){
  html,body {
      overflow-y: scroll;
  }
}