html,
body {
  margin: 0px;
  width: 100%;
  height: 100%;
  background-image: url("https://www.transparenttextures.com/patterns/connected.png");
  // overflow-y: scroll;
  // overflow-x: hidden;
  overflow: hidden;
}
a {
  color: #0078ff;
}
#earth {
  position: absolute;
  width: 100%;
  height: 100%;
  touch-action: manipulation;
  right: -50%;
}

$transitionDuration: 0.3s;
$seoColor: rgb(17, 187, 244);
$samplesColor: rgba(228, 0, 124, 1);
.dots {
  .active {
    .background {
      width: 100%;
    }
    span {
      color: white;
    }
    .line {
      width: 30px;
    }
  }

  .line {
    position: absolute;
    height: 1px;
    width: 0;
    right: 0;
    background: #b4b4b4;
    transition-property: width background;
    transition-duration: $transitionDuration;
  }
  span {
    position: relative;
    // width: 120px;
    right: 30px;
    height: 40px;
    transition: color $transitionDuration ($transitionDuration / 1.5);
    line-height: 40px;
    font-size: 1.1rem;
    color: #7d7d7d;
    padding: 0 10px;
  }
  i {
    right: 0;
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    z-index: 1;
    background-color: #7d7d7d;
    transition: background-color $transitionDuration ($transitionDuration / 1.5);
  }
  .background {
    position: absolute;
    width: 0;
    right: 30px;
    height: 40px;
    transition: width $transitionDuration ($transitionDuration / 1.5);
    border-radius: 5px 5px 5px 5px;
  }
  > div {
    position: absolute;
    cursor: pointer;
    &:hover > div {
      width: 200px;
    }
    &:hover > span {
      color: white;
    }
    &:hover > .line {
      width: 30px;
    }
    &:hover > .background {
      width: 100%;
    }
  }
  .dot-1 {
    right: 12.2%;
    top: 20%;
    i {
      background: $mainColor;
    }
    .background {
      background-image: linear-gradient(
        89.9deg,
        rgba(255, 190, 32, 1) 0.6%,
        rgba(251, 112, 71, 1) 124.3%
      );
    }

    &:hover > i {
      background-color: $mainColor;
    }
  }
  .dot-2 {
    right: 17.3%;
    top: 35%;
    .background {
      background-color: gold;
    }
    &:hover > i {
      background-color: gold;
    }
  }
  .dot-3 {
    right: 18.5%;
    top: 50%;
    .background {
      background-image: linear-gradient(
        117.8deg,
        rgba(240, 19, 77, 1) 22.2%,
        rgba(228, 0, 124, 1) 88.7%
      );
    }
    &:hover > i {
      background-color: $samplesColor;
    }
  }
  .dot-4 {
    right: 16.5%;
    top: 65%;
    .background {
      background-image: linear-gradient(
        117.8deg,
        #0f9d58 22.2%,
         #4285f4 88.7%
      );
    }
    &:hover > i {
      background-color: $samplesColor;
    }
  }
  .dot-5 {
    right: 11%;
    top: 78%;
    .background {
      background-image: linear-gradient(
        117.8deg,
        rgba(240, 19, 77, 1) 22.2%,
        rgba(228, 0, 124, 1) 88.7%
      );
    }
    &:hover > i {
      background-color: $samplesColor;
    }
  }
}
