@import "../public/fonts/scss/fontawesome.scss";
@import "../public/fonts/scss/brands.scss";
@import "../public/fonts/scss/light.scss";
@import "../public/fonts/scss/duotone.scss";
@import "../public/fonts/scss/regular.scss";
@import "../public/fonts/scss/solid.scss";

@font-face {
  font-family: "Dacia Spirit";
  src: url("/fonts/DaciaSpirit.woff2");
}
@font-face {
  font-family: "Lalezar";
  src: url("/fonts/Chamran.woff2");
}
* {
  font-family: "Dacia Spirit";
}