@import "variables";
@import "earth";
@import url("~bootstrap/scss/bootstrap.scss");
@import "fonts";
@import "content/index.scss";
@import "navbar";
@import "footer";

.rtl {
  direction: rtl;
}

.bg-orange{
  background-color: #fb7047 !important;
}
.text-orange{
  color: #fb7047 !important;
}